<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head_admin' %>
  </head>
 <body class="padding">

    <%#-------------------------------------------------%>
    <%# Header navbar                                   %>
    <%#-------------------------------------------------%>
    <%= render partial: 'spree/shared/header_admin' %>

    <%#-------------------------------------------------%>
    <%# Main content                                    %>
    <%#-------------------------------------------------%>
    <div id="wrapper" class="container-fluid <%= wrapper_classes %> innerContent">
      <div class="row">
            <%#-------------------------------------------------%>
            <%# Content header (page title/actions)             %>
            <%#-------------------------------------------------%>
            
            <%= render partial: 'spree/admin/shared/content_header' %>
      </div>

      <div class="row">
            <%#-------------------------------------------------%>
            <%# Alerts                                          %>
            <%#-------------------------------------------------%>
            <%= flash_alert(flash) %>
      </div>

      <div class="row">
            <%#-------------------------------------------------%>
            <%# Main content                                    %>
            <%#-------------------------------------------------%>
            <div id="content" data-hook>
              <%= render partial: 'spree/admin/shared/table_filter' if content_for?(:table_filter)%>
              <%= yield %>
            </div>

      </div>

    </div>

    <%#-------------------------------------------------%>
    <%# Insert footer scripts here                      %>
    <%#-------------------------------------------------%>
    <div data-hook="admin_footer_scripts"></div>
  </body>
</html>