<!doctype html>
<!--[if lt IE 7 ]> <html class="ie ie6" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 7 ]>    <html class="ie ie7" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 8 ]>    <html class="ie ie8" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if IE 9 ]>    <html class="ie ie9" lang="<%= I18n.locale %>"> <![endif]-->
<!--[if gt IE 9]><!--><html lang="<%= I18n.locale %>"><!--<![endif]-->
  <head data-hook="inside_head">
    <%= render partial: 'spree/shared/head' %>
  </head>
 <body class="admin">
    <%#-------------------------------------------------%>
    <%# Header navbar                                   %>
    <%#-------------------------------------------------%>
    <%= render partial: 'spree/shared/header_admin' %>

    <%#-------------------------------------------------%>
    <%# Main content                                    %>
    <%#-------------------------------------------------%>
    <div id="wrapper" class="container-fluid <%= wrapper_classes %>">
      <div class="row">

        <%#-------------------------------------------------%>
        <%# Content                                         %>
        <%#-------------------------------------------------%>
        <div class="<%= main_part_classes %> main" id="main-part">

          <%#-------------------------------------------------%>
          <%# Content header (page title/actions)             %>
          <%#-------------------------------------------------%>
          <%= render partial: 'spree/admin/shared/content_header' %>

          <div class="row">
            <%#-------------------------------------------------%>
            <%# Alerts                                          %>
            <%#-------------------------------------------------%>
            <%= flash_alert(flash) %>

            <%#-------------------------------------------------%>
            <%# Main content                                    %>
            <%#-------------------------------------------------%>
            <div class="<%= content_for?(:sidebar) ? 'with-sidebar col-md-9 col-sm-8' : 'col-sm-12'  %>" id="content" data-hook>
              <%= render partial: 'spree/admin/shared/table_filter' if content_for?(:table_filter)%>
              <%= yield %>
            </div>

            <%#-------------------------------------------------%>
            <%# Inner aside                                     %>
            <%#-------------------------------------------------%>
            <% if content_for?(:sidebar) %>
              <div class="col-md-3 col-sm-4">
                <%= render partial: 'spree/admin/shared/sidebar' %>
              </div>
            <% end %>
          </div>


        </div>
      </div>
    </div>

    <%#-------------------------------------------------%>
    <%# Insert footer scripts here                      %>
    <%#-------------------------------------------------%>
    <div data-hook="admin_footer_scripts"></div>
  </body>
</html>