<h1> Here's where you can make or edit homepage posts!</h1>

<div id="post" class="main_narrow">
	
	<%= link_to ("<button>Add New Post</button>").html_safe, main_app.new_path %>

</div>
  <% @posts.each do |f| %>
       <li><strong><%= truncate(f.title, :length => 20, :separator => ' ') %></strong> <%= link_to "(edit)", main_app.edit_post_path(f) %> | 
        <%= truncate(f.body, :length => 50, :separator => " ") %> | 
        (<%= f.created_at %> by <%= spree_current_user.email %></li>

        <% end %>
</div>