<div id="post" class="main_narrow">

	<h1>EDIT POST</h1>
	 
	<%= form_for @edit_post, url: main_app.edit_post_path, html: { multipart: true } do |f| %>
		Title: <%= f.text_field :title %><br>  
		Upload Image: <%= f.file_field :img %><br>  
		Body: <%= f.text_area :body, size: "80x15"  %><br>

		<%= f.submit "Edit Post", :class => "button" %>


	<% end %>

	<%= link_to ("<button>DELETE POST</button>").html_safe, main_app.remove_post_path(@edit_post), 
	data: { confirm: "You can not undo this action! Are you sure you want to delete???" }, method: :delete %>

</div>